@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root{
    --primary: #323436;
    --secondary:#c8dcf0;
    --tertiary: #251c1c;
    --quaternary:#6d7175; 
    --quinary: #ced6de;
}

/* Overordnet Starter her */



.body {
    font-family: 'Playfair Display', Sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    line-height: 1.6;
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--secondary);
}

h1, h2, h3 {
    align-self: center;
    padding-left: 5%;
    padding-right: 3rem;
    color: var(--primary);
  }

.header {
  margin-top: 110px;
}

/* Video */

video {
  width: 100%;
  height: auto;
}

.index-video {
  padding-top: 0;
  margin-top: 0;
}

/* Container */

.index-main-container {
  display: block;
  justify-content: center;
  columns: 1;
  
  }

/* Logo */

/* Text Boxes */

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Nav Bar */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgb(37,28,28, 0.88);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */

.nav-a {
margin-top: 90px;
}

a.active {
  font-style: italic;
}

.nav-a a {
  float: center;
  color: var(--secondary); 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  
}

/* Add background color on mouse-over */
.nav-a a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* logo menu */
.logo-menu {
padding: 15px;
width: 65px;
height: 65px;
float: left;
}

/* Animated Menu*/

.menu-btn {
  padding-top: 2rem;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: var(--quinary);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: fixed;
  width: 50px;
  height: 6px;
  background: var(--quinary);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  /* Change X for animate side, Y for animate vertical */
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* animate index text */

.index-ani, .index-ani2 {
  display: block;
  position: relative;
  animation-name: left2right;
  animation-duration: 2s;
}

@keyframes left2right {
  0%   {left:-2000px;}
  100% {left:0px;}
}


/* media querries */


@media screen and (min-width: 1000px) {

  .index-main-container {
    display: flex;
    justify-content: center;
    columns: 2;
    /*column-width: 50%;
    column-gap: 10%;*/
    column-gap: 10%;
  }
}