@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root{
    --primary: #d5ffff;
    --secondary: #00d9fa;
    --tertiary: #007db8;
    --quaternary:#5e5c5e;
    --quinary:#003852;
}

/* Overordnet Starter her */



.body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    line-height: 1.6;
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--tertiary);
}

h1, h2, h3 {
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--quinary);
  }

.header {
  margin-top: 110px;
}

/* Video */

/* Container */

/* Logo */

/* Text Boxes */

/* Container */

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Nav Bar */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgb(0,56,82, 0.75)
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */

.nav-a {
margin-top: 90px;
}

a.active {
  font-style: italic;
}

.nav-a a {
  float: center;
  color: var(--primary); 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  
}

/* Add a grey background color on mouse-over */
.nav-a a:hover {
  background-color: #ddd;
  color: black;
}

/* logo menu */
.logo-menu {
padding: 10px;
width: 80px;
height: 80px;
float: left;
}

/* Animated Menu*/

.menu-btn {
  padding-top: 2rem;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: fixed;
  width: 50px;
  height: 6px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  /* Change X for animate side, Y for animate vertical */
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
