@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root{
    --primary: #323436;
    --secondary:#9fbddb;
    --tertiary: #045380e8;
    --quaternary:#6d7175; 
    --quinary: #ced6de;
}

/* Overordnet Starter her */

.body {
    font-family: 'Playfair Display', Sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    line-height: 1.6;
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--secondary);
    padding-bottom: 500px;
}
.space {
  margin-top: 100px;}
.space2 {
    margin-bottom: 150px;}

h1, h2, h3, cite, p {
    align-self: center;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--primary);
  }

.p2 {
  color: var(--quaternary)
}
  

/* Video and images */

.index-img {
  width: 100%;
  height: auto;
}

.dans-img, .rat1-img, .rat2-img {
  padding-left: 10%;
  padding-right: 10%;
  max-width: 80%;
  max-height: auto;
}

video {
  width: 100%;
  height: auto;
}

.por-video {
  padding-top: 0;
  margin-top: 0;
}

/* Container */

.main-container {
  margin-top: 90px;
  display: block;
  justify-content: center;
  columns: 1;
  }

/* Logo */

/* Text Boxes */

.info {
  float: left;
  margin-left: 1.5rem;
  margin-top: 2rem;
  font-size: 10px;
  color: var(--quinary);
}

/* Footer */

.footer {
    word-spacing: 3rem;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Link-in */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

/* Nav Bar */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: var(--tertiary);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */

.nav-a {
margin-top: 90px;
}

a.active {
  font-style: italic;
}

.nav-a a {
  float: center;
  color: var(--quinary); 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  
}

/* Add background color on mouse-over */
.nav-a a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* logo menu */
.logo-menu {
padding: 15px;
width: 65px;
height: 65px;
float: left;
}

/* Animated Menu*/

.menu-btn {
  padding-top: 2rem;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: var(--quinary);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: fixed;
  width: 50px;
  height: 6px;
  background: var(--quinary);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  /* Change X for animate side, Y for animate vertical */
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* animate index text */

.ani-up {
  display: block;
  position: relative;
  animation-name: up;
  animation-duration: 2s;
}

@keyframes up {
  0%   {bottom:-2000px;}
  100% {bottom:0px;}
}


/* media querries */
@media screen and (min-width: 550px) and (max-width: 1000px) {
  .body-que img {
    max-width: 50%;
    padding-top: 3rem;
    padding-left: 15%;}
}
  cite {padding-left: 15%;
        padding-top: 0.5rem;     
  }

@media screen and (min-width: 1000px) {
  .main-container {
      display: grid;
      gap: 1rem;
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
    }
  

  /*video*/
  .por-video {
    display: row;
    padding-top: 0;
    margin-top: 4.5rem;
    padding-left: 30%;
    padding-right: 10%;
    margin-right: 2rem;
    max-width: 70%;
  }

  /* index */
  .body-que img {
    padding-top: 4rem;
    padding-left: 35%;
    max-width: 70%;
    max-height: auto;
  }

  .dans-img, .rat1-img, .rat2-img {
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .body-que cite {
    
    padding-left: 15%;
  }

  .body-que h1,h2,h3,h4, p {
    padding-right: 20%;
    padding-left: 25%;
    margin-top: 1rem;;
  }
  .body-que h1 {margin-top: 4rem;
  }

  .altext h1, h2, h3, p {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    text-align: center;
  }
}
